@import '../../styles/variables';
@import '../../styles/global.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.modalOverlay {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($bleu-principal, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContent {
  background: $background-page;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.filterButton.selected {
  background-color: $bleu-principal; 
  color: $blanc;
}

.filterButton {
    background-color: $blanc;
    color: $bleu-principal;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid $bleu-principal;
    font-family: 'Poppins', sans-serif;
    padding: 15px; 
}

.filterTitle {
  text-align: center;
}

.SubtitleFilter {
  font-weight: 400;
}