@import 'variables';
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.body {
  background-color: $background-page;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cta {
  padding: 0.8rem 1.8rem;
  font-size: 1.2rem;
  color: $blanc;
  background-color: $bleu-principal;
  font-family: $font;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;

  &:hover {
  color: $bleu-principal;
  background-color: $blanc;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 2rem;
  }
}
