@import '../styles/variables.scss';
@import '../styles/global.scss';

// .body {
//   margin: 0;
//   padding: 0;
//     -webkit-box-sizing: border-box;
//           box-sizing: border-box;
// }

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: $blanc;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.margin {
  margin: 25px;
}

.content {
  text-align: center;
}

.filtre {
  margin-bottom: 30px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
  margin-left: auto; 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}

// Card

.escapadesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
  gap: 50px; 
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  max-width: 1000px; 
  margin: auto;
  cursor: pointer;
}
  
.escapade {
  background-color: $background-page;
  overflow: hidden;
  width: 100%;
  max-width: 550px;
  text-align: left;
  position: relative;
    -webkit-text-decoration: none;
          text-decoration: none ;
          color:$text-color;
  

  .escapadeImage {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    -o-object-fit: cover;
        object-fit: cover;
  }
}

.align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-text-decoration: none;
          text-decoration: none ;

  
  h4 {
    margin: 0;
    font-size: 1.2rem;
    color: $text-color;
  }
}

.viewAllEscapadeContainer{
  padding: 50px;
}

.viewAllEscapadeButton {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: $blanc;
  background-color: $bleu-principal;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  font-family: $font;
  
    &:hover {
      color: $bleu-principal;
      background-color: $blanc;
    }
}

.noResults {
  color: $bleu-principal;
}